<div class="p-grid">
  <div class="p-col-10 p-offset-1">
    <h1 class="p-text-center">Página não encontrada</h1>
    <div class="p-text-center">
      <img src="assets/icon/error-404.png" style="max-width: 180px;" alt="página não encontrada">
    </div>

    <div class="p-text-center p-pt-5">
      <button pButton type="button" label="Voltar para tela principal"
              class="p-button-rounded p-button-outlined"
              icon="pi pi-undo"
              routerLink="/funcionarios"></button>
    </div>

  </div>
</div>
