<router-outlet></router-outlet>
<p-toast></p-toast>

<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"
                 [breakpoints]="{'1441px': '40vw', '1025px': '50vw', '769px': '70vw', '430px': '100vw'}"
                 header="Confirmação" icon="pi pi-question-circle" #confirmacao>
  <p-footer>
    <button pButton pRipple type="button" label="Não" icon="pi pi-times"
            class="p-button-outlined" (click)="confirmacao.reject()"></button>

    <button pButton pRipple type="button" label="Sim" icon="pi pi-check"
            (click)="confirmacao.accept()"></button>
  </p-footer>
</p-confirmDialog>
