<ngx-loading [show]="loading"></ngx-loading>

<div class="p-grid">

  <div class="p-col-10 p-offset-1">

    <h2>{{ editando ? 'Edição de' : 'Novo' }} funcionário</h2>

    <form [formGroup]="formulario" (ngSubmit)="salvar()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label>Nome</label>
          <input type="text" formControlName="nome" pInputText/>
          <app-message-error [control]="formulario.get('nome')" error="required"></app-message-error>
          <app-message-error [control]="formulario.get('nome')" error="tamanhoMinimo"
                       message="Mínimo de {{ formulario.get('nome')?.errors?.tamanhoMinimo?.tamanho }} caracteres">
          </app-message-error>
          <app-message-error [control]="formulario.get('nome')" error="tamanhoMaximo"
                             message="Máximo de {{ formulario.get('nome')?.errors?.tamanhoMaximo?.tamanho }} caracteres">
          </app-message-error>
        </div>

        <div class="p-field p-col-12 p-md-5">
          <label>Sobrenome</label>
          <input type="text" pInputText formControlName="sobrenome"/>
          <app-message-error [control]="formulario.get('sobrenome')" error="required"></app-message-error>
          <app-message-error [control]="formulario.get('sobrenome')" error="tamanhoMinimo"
                             message="Mínimo de {{ formulario.get('sobrenome')?.errors?.tamanhoMinimo?.tamanho }}
                             caracteres">
          </app-message-error>
          <app-message-error [control]="formulario.get('sobrenome')" error="tamanhoMaximo"
                             message="Máximo de {{ formulario.get('sobrenome')?.errors?.tamanhoMaximo?.tamanho }}
                             caracteres">
          </app-message-error>
        </div>
      </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-lg-5 p-md-9">
          <label>E-mail</label>
          <input type="text" pInputText formControlName="email"/>
          <app-message-error [control]="formulario.get('email')"
                             error="email"
                             message="Informe um e-mail válido"></app-message-error>
        </div>
      </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-lg-2 p-md-4">
          <label>PIS</label>
          <p-inputMask formControlName="pis" mask="999.99999.99-9"></p-inputMask>
          <app-message-error [control]="formulario.get('pis')" error="required"></app-message-error>
        </div>
      </div>

      <div class="p-pb-4"></div>

      <div class="p-grid">
        <div class="p-col-12">
          <button pButton type="submit" icon="pi pi-check" label="Salvar" class="p-mr-2"
                    [disabled]="formulario.invalid"
                    pRipple></button>

          <button pButton type="button" pRipple
                  [icon]="editando ? 'pi pi-undo' : 'pi pi-times' "
                  [label]="editando ? 'Voltar para pesquisa' : 'Cancelar' "
                  class="p-button-outlined" routerLink="/funcionarios"></button>
        </div>
      </div>

    </form>
  </div>
</div>
